@import "tailwindcss";
@plugin "daisyui" {
  themes:
    coffee,
    light --default;
}

html {
  padding: 0;
  overflow-y: scroll;
  margin: 0;
  scrollbar-gutter: stable;
}

@theme {
  --font-heading: "--font-heading", sans-serif;
  --font-body: "--font-body", sans-serif;
}
html:has(dialog[open]) {
  overflow: hidden;
}

h1 {
  font-family: var(--font-heading);
}
p,
button,
h2,
h3,
a,
h6,
button {
  font-family: var(--font-heading);
}
